@using TestAssignment.Helpers.HtmlHelpers
@model TestAssignment.ViewModels.ProductViewModel
@{
    ViewBag.Title = "Add";
}
<div id="page-heading">
    <h1>
        Add product
    </h1>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
        
                                    @Html.Partial("_OpenProductForm")
                                    <tr>
                                        <th valign="top">
                                            @Html.DisplayNameFor(model => model.Product.ProductName)
                                        </th>
                                        <td>
                                            @Html.EditorFor(model => model.Product.ProductName, new {htmlAttributes = new {@class = "inp-form"}})

                                        </td>
                                        <td>
                                            @Html.MyValidationMessageFor(model => model.Product.ProductName)
                                        </td>

                                    </tr>
                                    <tr>
                                        <th valign="top">
                                            @Html.DisplayNameFor(model => model.Product.CategoryId)
                                        </th>
                                        <td>
                                            @Html.DropDownListFor(model => model.Product.CategoryId,Model.AvaibleCategories, new { htmlAttributes = new { @class = "inp-form" } })

                                        </td>
                                        <td>
                                            @Html.MyValidationMessageFor(model => model.Product.Category.Name)
                                        </td>
                                    </tr>
                                    <tr>
                                    <tr>
                                        <th valign="top">
                                            @Html.DisplayNameFor(model => model.Product.Price)
                                        </th>
                                        <td>
                                            @Html.EditorFor(model => model.Product.Price, new {htmlAttributes = new {@class = "inp-form"}})

                                        </td>
                                        <td>
                                            @Html.MyValidationMessageFor(model => model.Product.Price)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th valign="top">
                                            @Html.DisplayNameFor(model => model.Product.DeliverPeriod)
                                        </th>
                                        <td>
                                            @Html.EditorFor(model => model.Product.DeliverPeriod, new {htmlAttributes = new {@class = "inp-form"}})

                                        </td>
                                        <td>
                                            @Html.MyValidationMessageFor(model => model.Product.DeliverPeriod)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th valign="top">
                                            @Html.DisplayNameFor(model => model.Product.SuplierId)
                                        </th>
                                        <td>
                                            @Html.DropDownListFor(model => model.Product.SuplierId, Model.AvaibleSupliers, new {htmlAttributes = new {@class = "inp-form"}})

                                        </td>
                                        <td>
                                            @Html.MyValidationMessageFor(model => model.Product.SuplierId)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th valign="top">
                                            @Html.DisplayNameFor(model => model.Product.MinStock)
                                        </th>
                                        <td>
                                            @Html.EditorFor(model => model.Product.MinStock, new { htmlAttributes = new { @class = "inp-form" } })

                                        </td>
                                        <td>
                                            @Html.MyValidationMessageFor(model => model.Product.MinStock)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            &nbsp;
                                        </th>
                                        <td valign="top">
                                            <input type="submit" value="" class="form-submit" />
                                            <input type="reset" value="" class="form-reset" />
                                        </td>
                                        
                                    </tr>
                                    @Html.Partial("_CloseProductForm")
                                </table>
                             
    
}

@section Scripts {
   
}